@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
/* font-family: 'Varela Round', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --title-color: rgb(7, 131, 247);
    --subtitle-color: rgb(18, 40, 60);
    --text-color: rgb(86, 116, 145);
    --subtext-color: rgb(0, 95, 183);
    --button-text-color: rgb(255, 255, 255);
    --play-icon-color: white;
    --light-background-color: rgb(244, 244, 244);
    --button-color-hover: rgb(51, 153, 248);
    --header-banner-text-color: rgb(255, 255, 255);
    --social-icons-color: rgb(7, 131, 247);
    --footer-main-text-color: rgb(255, 255, 255);
    --footer-accent-text-color: rgb(86, 116, 145);
    --footer-email-input-color: rgba(255, 255, 255, 0.11);
    --footer-dark-background-color: rgb(18, 40, 60);
    scroll-behavior: smooth;
}

.container {
    max-width: 1200px;
    margin: auto;
}

img {
    display: block;
    width: 100%;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 34px;
    font-weight: 800;
    color: var(--subtitle-color);
    text-align: center;
    letter-spacing: 1.428px;
    line-height: 40.8px;
}

h3 {
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 1px;
    color: var(--subtitle-color);
}

.devider-icon {
    display: block;
    margin: auto;
    height: 8px;
    width: 60px;
}



@media (min-width: 768px) {
    h2 {
        font-size: 38px;
        letter-spacing: 1.596px;
        line-height: 45.6px;
    }
}

@media (min-width: 992px) {
    h2 {
        font-size: 42px;
        letter-spacing: 1.764px;
        line-height: 50.4px;
    }
}