.header__nav {
    position: relative;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 320px;
    min-height: 100px;
    padding: 0px 24px;
}

.header__logo-container {
    z-index: 22;
}

.header__logo-container a {
    display: flex;
    flex-direction: row;
}

.header__logo-element-cloudy {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 26px;
    color: var(--subtext-color);
    letter-spacing: 1px;
}

.header__logo-element-grou {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 26px;
    color: var(--text-color);
    letter-spacing: 1px;
}

.header__logo-element-p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 32px;
    color: var(--text-color);
    line-height: 28px;
}

.header__burger-menu-wraper {
    padding: 8px;
}

.header__burger-menu {
    display: flex;
    align-items: center;
    width: 24px;
    height: 16px;
    position: relative;
    cursor: pointer;
    z-index: 22;
}

.header__burger-menu-item {
    background-color: var(--subtitle-color);
    position: absolute;
    height: 2px;
    width: 100%;
}

.header__burger-menu::before {
    background-color: var(--subtitle-color);
    position: absolute;
    height: 2px;
    width: 100%;
    content: " ";
    top: 0px;
}

.header__burger-menu::after {
    background-color: var(--subtitle-color);
    position: absolute;
    height: 2px;
    width: 100%;
    content: " ";
    top: 14px;
}

.header__burger-menu span,
.header__burger-menu::after,
.header__burger-menu::before {
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--subtitle-color);
    transition: all 0.5s ease-in-out;
}

.header__burger-menu span {
    transform: scale(1);
}

.header__burger-menu.active span {
    transform: scale(0);
}

.header__burger-menu.active::before {
    top: 7px;
    transform: rotate(-225deg);
}

.header__burger-menu.active::after {
    top: 7px;
    transform: rotate(225deg);
}

.header__menu>li {
    margin: 10px 5px;
    font-family: 'Varela Round', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.header__menu>li>a {
    text-decoration: none;
    color: var(--subtitle-color);
}

.header__menu>li>a:hover {
    color: var(--title-color);
}

.header__menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 115px;
    height: 50px;
    background-color: var(--title-color);
    border-radius: 4px;
}

.header__menu-button>span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: var(--button-text-color);
}

.header__banner {
    display: flex;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../media/header_background.jpeg);
    /* background-size: cover; */
    background-position: center;
    /* background-attachment: fixed; */
}

.header__background-overlay {
    width: 100%;
    height: 100%;
    background: rgba(67, 70, 90, 0.6);
    display: flex;
    justify-content: center;
}

.header__banner-block {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    padding: 185px 0;
    max-width: 1200px;
    text-align: center;
}

.header__banner-text-first {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 400;
    color: var(--header-banner-text-color);
}

.header__tittle {
    font-family: 'Montserrat', sans-serif;
    font-size: 90px;
    font-weight: 700;
    color: var(--title-color);
}

.header__banner-text-last {
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: var(--header-banner-text-color);
}

.header__banner-buttom {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 255px;
    height: 50px;
    background-color: var(--title-color);
    border-radius: 4px;
    margin-top: 50px;
}

.header__banner-buttom>span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: var(--button-text-color);
}

@media (max-width: 325px) {
    .header__banner-block {
        padding: 340px 0;
    }
}

@media (max-width: 768px) {
    .header__banner-block {
        padding: 215px 0;
    }

    .header__banner-text-first {
        font-size: 39px;
    }

    .header__tittle {
        font-size: 72px;
    }

    .header__banner-text-last {
        font-size: 16px;
    }
}

@media (max-width: 1024px) {
    .header__banner-block {
        padding: 240px 0;
    }
}

@media (min-width: 992px) {
    .header__nav {
        display: flex;
        justify-content: space-between;
        padding: 0 40px;
        max-width: 1250px;
        margin: auto;
        min-height: auto;
    }

    .header__burger-menu-wraper {
        position: absolute;
        left: -10000px;
    }

    .header__menu-container {
        position: relative;
        left: 0px;
    }

    .header__menu {
        display: flex;
        margin: 0px -20px;
        list-style-type: none;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        padding: 30px 0;
    }

    .header__menu-item {
        color: var(--subtext-color);
        position: relative;
    }

    .header__menu>li {
        margin: 3px 20px;
        font-family: 'Varela Round', sans-serif;
        font-weight: 400;
        font-size: 16px;
        max-width: 100%;
    }

    .header__nav-breake {
        flex-basis: 100%;
        height: 0;
    }
}

@media (min-width: 1137px) {
    .header__menu {
        padding: 30px 15px;
        align-items: center;
    }

    .header__nav-breake {
        flex-basis: 0;
        height: 0;
    }
}

.header__menu-button:hover {
    background-color: var(--subtext-color);
    transition-delay: 0.2s;
}

.header__banner-buttom:hover {
    background-color: var(--button-color-hover);
    transition-delay: 0.2s;
}

@media (max-width: 992px) {
    body.lock {
        overflow: hidden;
    }
}


@media (max-width: 992px) {

    .header__menu-container {
        position: absolute;
        left: -10000px;
    }

    .header__menu-container.active {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: var(--button-text-color);
        z-index: 21;
        margin: auto;
    }

    .header__menu {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: max-content;
    }

    .header__menu-item {
        display: flex;
        font-size: 17px;
        margin: 6px 20px;
    }

    .header__nav-breake {
        display: none;
    }
}