.section__in-action, .benefits {
	padding: 24px;
}
.benefits__header,
.in-action__header {
	padding: 65px;
}
.in-action__body {
	display: flex;
	justify-content: center;
	padding: 65px;
}
.in-action__background {
	position: relative;
	background-image: url('../media/writing_on_the_desk.webp');
	height: 429px;
	width: 100%;
	background-position: center;
	background-size: cover;
}
.in-action__icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 50px;
	color: var(--play-icon-color);
	fill: var(--play-icon-color);
}
.benefits__card {
	display: flex;
	padding: 20px;
}
.benefits__cards {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
}
.benefits__card-icon {
	display: block;
	width: 100px;
}
.benefits__card-body {
	width: 100%;
}
.benefits__card-text {
	padding: 15px;
	color: var(--text-color);
	font-size: 16px;
	font-family: 'Varela Round', sans-serif;
	letter-spacing: 0.8px;
	line-height: 22px;
	overflow-wrap: break-word;
}



@media (min-width: 768px) {
	.in-action__background {
		height: 469px;
	}
	.in-action__icon {
		height: 70px;
	}
	.benefits__cards {
		flex-direction: row;
	}
}
@media (min-width: 992px) {
	.in-action__background {
		height: 511px;
	}
	.benefits__card-body {
		width: 300px;
	}
}
