.job_openings__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    box-sizing: border-box;
    padding: 0 24px;
}

.job_openings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Valera Round', sans-serif;
    color: var(--text-color);
    font-size: 20px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 30px;
    margin-top: 25px;
    vertical-align: baseline;
}

.accordion-item__header {
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-weight: 800;
    letter-spacing: 0.9px;
    color: var(--subtitle-color);
    line-height: 31px;
}

.accordion-item__body-content {
    text-align: left;
    color: var(--text-color);
    font-size: 16px;
    font-family: 'Valera Round', sans-serif;
    letter-spacing: 0.8px;
    line-height: 22px;
    overflow-wrap: break-word;
}

h4 {
    color: var(--subtitle-color);
}

.accordion-item {
    display: block;
    padding: 20px;
}

.accordion-item__header::after {
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
}

.accordion-item__header.active::after {
    content: "\2212";
}