.job_openings__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    box-sizing: border-box;
    padding: 0 24px;
}

.job_openings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Valera Round', sans-serif;
    color: var(--text-color);
    font-size: 20px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 30px;
    margin-top: 25px;
    vertical-align: baseline;
}