.jobopenings {
    padding: 90px 0px 45px;
    position: relative;
    display: block;
    flex-basis: 100%;
    min-width: 320px;
}

.jobopenings__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    box-sizing: border-box;
    padding: 0px 20px;
}

.accordion {
    width: 75%;
    padding-top: 25px;
    margin: 30px auto;
}

h2 {
    color: var(--subtitle-color);
    font-size: 34px;
    font-weight: 800;
    padding: 0px 0px 10px;
    margin: 25px 35px;
}

h4 {
    color: var(--subtitle-color);
}

.jobopenings__text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    text-transform: none;
    overflow-wrap: break-word;
    font-family: 'Valera Round', sans-serif;
    color: var(--text-color);
    font-size: 21px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 31px;
    box-sizing: border-box;
    vertical-align: baseline;
    width: 75%;
    margin: auto;
}

.accordion-item__header {
    font-family: "Montserrat", sans-serif;
    font-size: 21px;
    font-weight: 800;
    letter-spacing: 0.9px;
    color: var(--subtitle-color);
    line-height: 31px;
    cursor: pointer;
    overflow-wrap: break-word;
    display: flex;
    align-items: center;
    position: relative;
}

.accordion-item__body-content {
    text-align: left;
    color: var(--text-color);
    font-size: 16px;
    font-family: 'Valera Round', sans-serif;
    letter-spacing: 0.8px;
    line-height: 22px;
    overflow-wrap: break-word;
    flex-wrap: wrap;
}

.accordion-item__body {
    max-height: 0px;
    overflow: hidden;
    transition: max-hight 02s ease-out;
}

.accordion-item__header::after {
    content: '+';
    font-size: 37px;
    font-weight: 300;
    position: absolute;
    right: 1px;
}

.accordion-item__header.active::after {
    content: '-';
}

hr {
    width: 100;
    margin-left: 0px;
    border: 0.5px solid hsla(0, 0%, 50%, 0.359);
}