#ourpeople {
  background-color: var(--light-background-color);
}
.our-people-container {
    padding-top: 70px;
    padding-bottom: 60px;
  }
  .our-people-subtitle {
    text-align: center;
    font-family: "Varela Round", sans-serif;
    font-size: 20px;
    box-sizing: border-box;
    color: var(--text-color);
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 40px;
    font-weight: 200;
}
.carousel-container {
    position: relative;
  }
.people-carousel {
    display: flex;
    justify-content: center;
  }
  .our-people-carousel__cards h3 {
    font-size: 19px;
    line-height: 30px;
    font-family: "Varela Round", sans-serif;
    font-style: normal;
    font-weight: 400;
  }

  .our-people-carousel__cards p {
    font-size: 16px;
    text-align: left;
    font-family: "Varela Round", sans-serif;
    padding-top: 30px;
    font-weight: 100;
  }
  .carousel-button {
    display: flex;
    border: none;
    background-color: transparent;
    color: var(--text-color);
    font-size: 24px;
    font-family: "Varela Round", sans-serif;
    cursor: pointer;
    justify-content: space-evenly;
  }
  .our-people-carousel-button-prev {
    left: 0;
    position: relative;
    top: 200px;
  }

  .our-people-carousel-button-next {
    right: 0;
    position: relative;
    top: 200px;
  }
  .our-people-carousel__cards {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    align-items: flex-start;
    width: 80%; 
    overflow: hidden;
  }

  .our-people-carousel__cards div {
    width: calc(
      100% / 3
    );
    padding: 0 10px;
    text-align: center;
    transition: all 0.3s ease; 
  }

  .our-people-carousel__cards div img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    opacity: 0.7;
  }

  @media only screen and (max-width: 768px) {
    .our-people-carousel__cards div {
      width: 100%;
    }
  }  



