
.quote__wrap {
    background-attachment: fixed;
    background-image: linear-gradient(rgba(33, 123, 204, 0.9), rgba(33, 123, 204, 0.9)),
        url(../media/quote_img.jpg);
    background-size: cover;

}


.quote__text {
    color: var(--header-banner-text-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: left;
    padding-top: 20px;
}

.quote__content {
    width: 50%;
}

.author {
    color: var(--header-banner-text-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 12px;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
}

.quote__icon {
    width: 40px;
    height: 40px;
}

.content__wrap {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 100px;
    padding-bottom: 100px;

}



.vertical__line {
    padding-left: 20px;
    position: relative;
    display: inline-block;
}

.vertical__line:before {
    content: " ";
    background: #8fc8f9;
    width: 1px;
    height: 400px;
    left: 10px;
    position: absolute;
}

@media (min-width: 380px) {
    .vertical__line:before {
        height: 370px;
    }

    .vertical__line:after {
        height: 370px;
    }
}

@media (min-width: 430px) {
    .vertical__line:before {
        height: 330px;
    }

    .vertical__line:after {
        height: 330px;
    }
}

@media (min-width: 768px) {
    .vertical__line:before {
        height: 240px;
    }

    .vertical__line:after {
        height: 240px;
    }

    .content__wrap {
        padding-left: 150px;
    }

}

@media (min-width: 1200px) {
    .vertical__line:before {
        height: 180px;
    }

    .vertical__line:after {
        height: 160px;
    }
}
