.workstyle {
    padding: 60px 0;
}

.image_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    grid-gap: 5px;
}

.workstyle__tittle {
    padding-top: 26px
}
.image-content {
    max-width: 390px;
    max-height: 300px;
    border-radius: 5%;
    margin: 10px;
    overflow: hidden;
}

.workstyle-img {
    width: 369.98px;
    height: 258.98px;
    border-radius: 10%;
}
